.CashMachine {
  text-align: center;
}

#error {
  color: red;
  background-color: #ffaaaa;
  width: 20%;
  margin-left:auto; 
  margin-right:auto;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}


button {
  background-color: #0000ee;
  color: lightgray;
  border: none;
  padding: 10px 24px;
  margin: 10px;
  border-radius: 5px;
}

.input-btn-group > input, .input-btn-group > button {
  height: inherit;
}

.input-btn-group > input {
  padding: 0 10px;
  border: none;
  background-color: lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-btn-group > button {
  padding: 0 24px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-btn-group {
  height: 2em;
  padding: 10px 0;
}
